@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 375px;
  font-family: "Lexend Deca", sans-serif;
}

h1 {
  color: hsl(0, 0%, 95%);
  text-transform: uppercase;
  font-size: 2.5rem;
  font-family: "Big Shoulders Display", sans-serif;
  margin: 30px 0 25px 0;
}

p {
  width: 80%;
  color: hsla(0, 0%, 100%, 0.75);
  margin-bottom: 25px;
  line-height: 1.6rem;
  font-size: 0.92rem;
}

.wrapper {
  padding-top: 90px;
  width: 375px;
  background-color: hsl(0, 0%, 95%);
}

.box {
  width: 330px;
  height: 440px;
  padding: 50px 0 0 50px;
  margin-left: auto;
  margin-right: auto;
}

.box-one {
  background-color: hsl(31, 77%, 52%);
  border-radius: 8px 8px 0 0;
}

.box-two {
  background-color: hsl(184, 100%, 22%);
}

.box-three {
  background-color: hsl(179, 100%, 13%);
  border-radius: 0 0 8px 8px;
}

.btn {
  color: hsl(0, 0%, 95%);
  padding: 14px 35px;
  border-radius: 2rem;
  border: none;
  font-size: 0.95rem;
  font-weight: 600;
  cursor: pointer;
}

.one {
  color: hsl(31, 77%, 52%);
}

.two {
  color: hsl(184, 100%, 22%);
}

.three {
  color: hsl(179, 100%, 13%);
}

.one:hover {
  background-color: hsl(31, 77%, 52%);
  color: hsl(0, 0%, 95%);
  border: 2px solid hsl(0, 0%, 95%);
}
.two:hover {
  background-color: hsl(184, 100%, 22%);
  color: hsl(0, 0%, 95%);
  border: 2px solid hsl(0, 0%, 95%);
}
.three:hover {
  background-color: hsl(179, 100%, 13%);
  color: hsl(0, 0%, 95%);
  border: 2px solid hsl(0, 0%, 95%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

//@media screen and (min-width: 800px) {
  body {
    width: 1440px;
    background-color: hsl(0, 0%, 95%);
  }

  .wrapper {
    display: flex;
    padding: 0;
    margin: 170px auto 0 auto;
    width: 920px;
    height: 500px;
  }

  .box {
    width: 310px;
    height: 500px;
  }

  .btn {
    margin-top: 60px;
    padding: 16px 35px;
  }

  .box-one {
    border-radius: 0.6rem 0 0 0.6rem;
  }
  .box-three {
    border-radius: 0 0.6rem 0.6rem 0;
  }
}
